<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Tv Show {{show.id}}</h1>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/shows/{{show.id}}/update" method="POST">
        {% csrf_token%}
        Title: <input type="text" name="title" value="{{show.title}}"><br>
        Network: <input type="text" name="network" value="{{show.network}}"><br>
        Release Date: <input type="date" name="release_date" value="{{show.release_date}}"><br>
        Description: <br>
        <textarea name="description" id="" cols="30" rows="10">{{show.description}}</textarea><br>
        <input type="submit">
    </form>
    <a href="/shows/{{show.id}}">Go to Show</a>
</body>
</html>